* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #2d2d2d;
  }
  *:focus, *:active {
    border: none;
    outline: none;
  }

  html, body{
    overflow-x: hidden;
    position: relative;
  }
  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }
main{
  flex: 1 1 auto;
}

#step2,#step3,#step4,#step5,#step6{
  display: none;
}

.next{
  text-decoration: none;
  color: white;
  background-color: rgb(20, 161, 20);
  text-align: center;
  padding: 5px 10px;
  transition: 0.2s;
}
.next:hover{
  cursor: pointer;
  background-color: rgb(0, 220, 0);
}  
#back{
    font-size: 10pt;
    text-decoration: none;
    background-color: rgb(0, 108, 209);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.2s;
  }
#back:hover{
    background-color: rgb(0, 132, 255);
  }

  header{
    height: 6vh;
    width: 100vw;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    display: none;
  }
  header img{
    height: 100%;
    margin-left: 20vw;
  }

  .empty-field{
    border: 1px red;
  }

  .logo-with-description{
    width: 100vw;
    height: 15vh;
    text-align: center;
    
  }
  .logo-with-description img{
    height: 6vh;
    margin: 2vh auto;
  }
  .table{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .search-field{
    width: 100%;
    padding: 1vh;
    border: 1px solid rgb(202, 202, 202);
    height: 5vh;
    font-size: 12pt;
    margin-bottom: 3vh; 
  }

  .fullDescription{
    display: none;
    padding: 10px;
    border: 1px solid black;
    background: white;
    color: black;
    border-radius: 10px;
    max-width: 50%;
    position: absolute;
    
 
  }


  .second-page{
    width: 80vw;
    margin: 0 auto;
  }
  .scroll-table{
  height: 40vh;
	overflow-x: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
  }
  .scroll-table table {
    width:100%;
    table-layout: fixed;
    border: none;
  }
  .scroll-table th{
    font-weight: bold;
  	text-align: left;
  	border: none;
	  font-size: 14px;
    border-top: 1px solid rgb(202, 202, 202);
	  border-bottom: 1px solid rgb(202, 202, 202);
  }
  .scroll-table tr td{
    height: 10vh;
    font-size: 10pt;
    padding-left: 10px;
  }
  .scroll-table tr:nth-child(even){
    background: #f3f3f3;
  }
  .calendar{
    height: 3vh;
    border: 1px solid rgb(202, 202, 202);
  }
  .agreement{
    font-weight: bold; 
    font-size: 10pt;
    margin-bottom: 2vh;
  }
  .agreement a{
    color: rgb(29, 173, 230);
  }



  .footer{
    position: relative;
    border-top: 1px solid rgb(202, 202, 202);
    margin: 2vh 0;
    text-align: left;
    color: white;
    display: none;
  }
  .footer p{
    font-size: 10pt;
    margin-top: 5px;
    text-align: center;
  }

  .owner-info .field{
    font-size: 10pt;
    margin-bottom: 1vh;
  }
  .owner-info .text-field{
    border: 1px solid rgb(202, 202, 202);
    width: 95%;
    height: 4vh;
    padding: 0.5vh;
    margin-bottom: 3vh;
  }
  .owner{
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 2vh;
  }
  .benefits{
    width: 80vw;
    margin: 0 auto;
  }
  .benefits-header{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 3vh;
  }
  .benefits .field{
    margin-bottom: 2vh;
    font-size: 10pt;
  }
  
  .benefits select{
    border: 1px solid rgb(202, 202, 202);
    width: 100%;
    height: 5vh;
    padding: 0.5vh;
    margin-bottom: 3vh;
  }
  .data-check{
    width: 80vw;
    margin: 0 auto;
  }
  .check{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 3vh;
  }
  .download-example-button{
    text-decoration: none;
    color: white;
    background-color: rgb(253, 163, 29);
    padding: 1vh 1vw;
    border-radius: 5px;
    transition: 0.2s;
  }
  .download-example-button:hover{
    background-color: rgb(255, 184, 78);;
  }
  .data-check .field{
    font-size: 10pt;
    margin-bottom: 1vh;
  }
  .contract{
    width: 80vw;
    margin: 0 auto;
  }
  .contract-title{
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 3vh;
  }
  .contract .field{
    font-size: 10pt;
    margin-bottom: 3vh;
  }
  .check-field{
    width: 100%;
    border: 1px solid rgb(202, 202, 202);
    height: 5vh;
    padding: 0.5vh;
    margin-bottom: 3vh;
    }
    .final{
      width: 80vw;
      margin: 0 auto;
    }
    .final .field{
      font-size: 10pt;
      margin-top: 3vh;
    }
    .download-contract{
      text-decoration: none;
      color: white;
      background-color: rgb(253, 163, 29);
      padding: 1vh 1vw;
      border-radius: 3px;
      transition: 0.2s;
    }
    .download-contract:hover{
      background-color: rgb(255, 184, 78);
    }

    .complete{
      font-size: 16pt;
      font-weight: bold;
      margin-bottom: 5vh;
    }